<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="column">
          <h1>Spongebob mocking</h1>
        </div>
      </div>
      <div class="row">
        <div class="one-half column">
          <h5>Your text</h5>
          <textarea v-model="text" class="u-full-width"></textarea>
        </div>
        <div class="one-half column">
          <h5>Mocked text</h5>
          <textarea :value="mockingText" @focus="selectMocking" id="mockingText" class="u-full-width" readonly></textarea>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import '@/assets/css/normalize.css'
import '@/assets/css/skeleton.css'

export default {
  name: 'app',
  data: () => {
    return {
      text: ''
    }
  },
  computed: {
    mockingText: function () {
      let out = this.text.toUpperCase().split('')
      for (let i = 0; i < out.length; i += 2) {
        out[i] = out[i].toLowerCase()
      }
      return out.join('')
    }
  },
  methods: {
    selectMocking () {
      let textarea = document.getElementById('mockingText')
      textarea.select()
    }
  }
}
</script>

<style>
#app {
  margin-top: 50px;
}

textarea {
  height: 25vh;
  min-height: 200px;
  max-width: 100%;
  min-width: 100%;
}

@media (min-width: 550px) {
  html,
  body,
  #app {
    height: 100%;
    width: 100%;
  }
  #app {
    margin-top: 0;
    display: flex;
    align-items: center;
  }
}
</style>
